

.heading{
    color: white;
    background-color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    align-items: center;
    padding: 10px 15px;
}
.header img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    overflow: hidden;
}